html { 
	background-color: Black; 
	
}

html, body, .section-images {
   	width:100%;
    	height:100%;
    	margin:0;
}
img{
	width:auto;
    	height:auto;
   	max-width:90%;
    	max-height:90%;
}

#topcontainer {
    	width: 90%;
    	text-align:center;
	margin: 5%;
}

#info{
	width: 90%;
	text-align: center;
	margin: 5%;
}

h1 { 
  	color: #FBEEC1; 
  	text-align: left;
  	font-size: 3vw;
  	font-weight: bold;
}


p {
	font-size: 2.5vw;
	text-align: left;
}

#bottomcontain{
	width: 90%;
    	text-align:center;
	margin: 5%;
}

#bottomcontain img {
	width:auto;
    	height:auto;
   	max-width:20%;
    	max-height:20%;

}



