html { background-color: #d9d4d5;
  background-image: url(PBJ.png); 
  background-repeat: repeat-y;
}

h1 { 
  color: orange; 
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-size: 500%;
  font-weight: bold;
}

#steps{
  width: 35%;
  position: absolute;
  top: 0;
  left: 2.5%;
  margin: 0; 
  background-color: white; 
}

p, ul { font-size: 130%; }

.first { font-size: 200%; font-weight: bold; -webkit-text-stroke: 1px white; background-color: grey;}


