html { background-color: grey;
  background-image: url(PBJ.png); 
  background-repeat: repeat-y;
}

h1 { 
  color: orange; 
  text-align: center;
}

p { font-size: 130%; }

#intro { background-color: yellow; }

.first { font-size: 200%; font-weight: bold; }

#intro .first { color: ; }
